@import 'tailwindcss';

:root {
  --black: #0f0f0f;
  --gray500: #161616;
  --gray400: #5a5a5a;
  --gray300: #a4a4a4;
  --gray200: #dddddd;
  --gray100: #eeeeee;
  --white: #ffffff;
  --red: #ff483d;
  --blue: #29c9f9;
  --purple: #a77eff;
  --pink: #ff2a6a;
  --main: #efff04;

  --font-noto: var(--font-noto-sans-kr);
  --font-baskin: var(--font-baskin-robbins);
}

/* btns */

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main);
  color: var(--white);
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
}

/* layout */
.layout {
}

/* wrapper */
.wrapper {
}
